.input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input_container .input {
  color: var(--black-color);
  width: 730px;
  height: 65px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: none;
  padding: 20px;
}
.input_container .input::-webkit-input-placeholder {
  font-size: 20px;
}
.input_container .input::-moz-placeholder {
  font-size: 20px;
}
.input_container .input:-ms-input-placeholder {
  font-size: 20px;
}
.input_container .input::-ms-input-placeholder {
  font-size: 20px;
}
.input_container .input::placeholder {
  font-size: 20px;
}
.input_container .btn {
  margin-left: 2rem;
}