.input_container {
    display: flex;

    .input {
        color: var(--black-color);
        width: 46rem;
        height: 40px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 20px;
        border: none;
        padding: 20px;
        z-index: 1;

        &:focus {
            outline: none;
        }

        &::placeholder{
            font-size: 20px;
        }
    }

    .btn {
        margin-left: 2rem;

        &:disabled:hover {
            background-color:none
        }

        &:not(:disabled):hover {
            background-color: #6c26a8;
        }
    }
}

@media (max-width: 543px) {
    .input_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .input {
            font-size: 18px;
            width: 26rem;
        }
    }

    .btn {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
}

@media (max-width: 453px) {
    .input_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .input {
            font-size: 18px;
            width: 23rem;
        }
    }

    .btn {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
}

@media (max-width: 407px) {
    .input_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .input {
            font-size: 18px;
            width: 20rem;
        }
    }

    .btn {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
}