.input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input_container .input {
  color: var(--black-color);
  width: 46rem;
  height: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 20px;
  border: none;
  padding: 20px;
  z-index: 1;
}
.input_container .input:focus {
  outline: none;
}
.input_container .input::-webkit-input-placeholder {
  font-size: 20px;
}
.input_container .input::-moz-placeholder {
  font-size: 20px;
}
.input_container .input:-ms-input-placeholder {
  font-size: 20px;
}
.input_container .input::-ms-input-placeholder {
  font-size: 20px;
}
.input_container .input::placeholder {
  font-size: 20px;
}
.input_container .btn {
  margin-left: 2rem;
}
.input_container .btn:disabled:hover {
  background-color: none;
}
.input_container .btn:not(:disabled):hover {
  background-color: #6c26a8;
}

@media (max-width: 543px) {
  .input_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input_container .input {
    font-size: 18px;
    width: 26rem;
  }
  .btn {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
@media (max-width: 453px) {
  .input_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input_container .input {
    font-size: 18px;
    width: 23rem;
  }
  .btn {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
@media (max-width: 407px) {
  .input_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input_container .input {
    font-size: 18px;
    width: 20rem;
  }
  .btn {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}