.input_container {
    display: flex;

    .input {
        color: var(--black-color);
        width: 46rem;
        height: 40px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 20px;
        border: none;
        padding: 20px;
        z-index: 1;

        &:focus {
            outline: none;
        }

        &::placeholder{
            font-size: 20px;
        }
    }

    .btn {
        margin-left: 2rem;

        &:disabled:hover {
            background-color:none
        }

        &:not(:disabled):hover {
            background-color: #6c26a8;
        }
    }
}