.big {
  font-family: var(--font);
  background-color: var(--main-color);
  width: 500px;
  height: 100px;
  border-radius: 15px;
  border: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}

.small {
  font-family: var(--font);
  background-color: var(--main-color);
  width: 13rem;
  height: 80px;
  color: var(--white-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.small:disabled {
  width: 13rem;
  height: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: #E2E8F1;
  color: #A6A1B8;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: default;
}

.very_small {
  width: 60px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #808080;
  background: #FFF;
  cursor: pointer;
}