.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .text .name {
  color: var(--black-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content .text .description {
  color: #808080;
  width: 1000px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.25rem;
}
.content .input {
  margin-top: 2.5rem;
}
.content .qr_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--white-color);
  width: 1000px;
  height: 250px;
  border-radius: 20px;
  margin-top: 1rem;
}
.content .qr_box .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -5rem;
  width: 420px;
}
.content .qr_box .share .link_icon {
  width: 35px;
  height: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 1rem;
}
.content .qr_box .btns {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  margin-left: 3rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.75rem;
}
.content .qr_box .btns > * {
  margin-right: 1rem;
}
.content .qr_box .btns .btn_share:hover {
  background-color: rgb(241, 241, 241);
}
.content .qr_box .btns .btn_preview:hover {
  background-color: rgb(241, 241, 241);
}
.content .qr_box .btns .btn_copy {
  width: 200px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.content .qr_box .btns .btn_copy:hover {
  background-color: #6c26a8;
}
.content .qr_box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #808080;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-item-align: end;
      align-self: end;
  margin-left: -26rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -1rem;
}
.content .qr_box .qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  padding-top: 1.5rem;
  padding-left: 19.5rem;
}
.content .others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -0.25rem;
  width: 950px;
}
.content .others .desktop_link {
  color: var(--main-color);
  margin-left: 0.3rem;
}
.content .others .desktop_link:hover {
  color: #601f99;
}

@media (max-width: 1020px) {
  .content .input {
    width: 900px;
  }
  .content .qr_box {
    width: 900px;
  }
  .content .others {
    width: 850px;
  }
  .content .text .description {
    width: 900px;
  }
  .content .qr_box .info {
    margin-left: -26rem;
  }
  .content .qr_box .qr {
    padding-left: 13rem;
  }
}
@media (max-width: 907px) {
  .content .input {
    width: 800px;
  }
  .content .qr_box {
    width: 800px;
  }
  .content .others {
    width: 750px;
  }
  .content .text .description {
    width: 800px;
  }
  .content .qr_box .info {
    margin-left: -26rem;
  }
  .content .qr_box .qr {
    padding-left: 7rem;
  }
}
@media (max-width: 800px) {
  .content .input {
    width: 700px;
  }
  .content .qr_box {
    width: 700px;
  }
  .content .others {
    width: 650px;
  }
  .content .text .description {
    width: 700px;
  }
  .content .qr_box .info {
    margin-left: -22rem;
  }
  .content .qr_box .qr {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1.25rem;
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 710px) {
  .content .input {
    width: 630px;
  }
  .content .others {
    width: 550px;
  }
  .content .text .description {
    width: 600px;
  }
  .content .qr_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--white-color);
    width: 600px;
    height: 500px;
    border-radius: 20px;
    padding: 1rem;
  }
  .content .qr_box .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
    width: 100%;
  }
  .content .qr_box .share .link_icon {
    width: 35px;
    height: 35px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 1rem;
  }
  .content .qr_box .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  .content .qr_box .btns > * {
    margin-right: 0.75rem;
  }
  .content .qr_box .btns .btn_share:hover {
    background-color: rgb(241, 241, 241);
  }
  .content .qr_box .btns .btn_preview:hover {
    background-color: rgb(241, 241, 241);
  }
  .content .qr_box .btns .btn_copy {
    width: 180px;
    height: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .content .qr_box .btns .btn_copy:hover {
    background-color: #6c26a8;
  }
  .content .qr_box .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -7.75rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
    text-wrap: nowrap;
    opacity: 0;
  }
  .content .qr_box .qr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3.5rem;
    height: 250px;
    width: 250px;
  }
  .content .qr_box .qr img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 640px) {
  .content .input {
    width: 430px;
    margin-right: 7rem;
  }
  .content .others {
    width: 450px;
  }
  .content .text .description {
    width: 500px;
  }
  .content .qr_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--white-color);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    padding: 1rem;
  }
  .content .qr_box .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
    width: 100%;
  }
  .content .qr_box .share .link_icon {
    width: 35px;
    height: 35px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 1rem;
  }
  .content .qr_box .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  .content .qr_box .btns > * {
    margin-right: 0.75rem;
  }
  .content .qr_box .btns .btn_share:hover {
    background-color: rgb(241, 241, 241);
  }
  .content .qr_box .btns .btn_preview:hover {
    background-color: rgb(241, 241, 241);
  }
  .content .qr_box .btns .btn_copy {
    width: 180px;
    height: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .content .qr_box .btns .btn_copy:hover {
    background-color: #6c26a8;
  }
  .content .qr_box .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -7.75rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
    text-wrap: nowrap;
    opacity: 0;
  }
  .content .qr_box .qr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3.5rem;
    height: 250px;
    width: 250px;
  }
  .content .qr_box .qr img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 543px) {
  .content .input {
    margin-right: -0.25rem;
  }
  .content .others {
    width: 350px;
  }
  .content .text .description {
    width: 400px;
  }
  .content .qr_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--white-color);
    width: 400px;
    height: 500px;
    border-radius: 20px;
    padding: 1rem;
  }
  .content .qr_box .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
    width: 100%;
  }
  .content .qr_box .share .link_icon {
    width: 35px;
    height: 35px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 1rem;
  }
  .content .qr_box .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  .content .qr_box .btns > * {
    margin-right: 0.75rem;
  }
  .content .qr_box .btns .btn_share:hover {
    background-color: rgb(241, 241, 241);
  }
  .content .qr_box .btns .btn_preview:hover {
    background-color: rgb(241, 241, 241);
  }
  .content .qr_box .btns .btn_copy {
    width: 180px;
    height: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .content .qr_box .btns .btn_copy:hover {
    background-color: #6c26a8;
  }
  .content .qr_box .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -7.75rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-wrap: nowrap;
    opacity: 0;
  }
  .content .qr_box .qr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3.5rem;
    height: 250px;
    width: 250px;
  }
  .content .qr_box .qr img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 455px) {
  .content .input {
    margin-right: -0.25rem;
    width: 370px;
  }
  .content .others {
    width: 350px;
  }
  .content .text .description {
    width: 370px;
  }
  .content .qr_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--white-color);
    width: 370px;
    height: 500px;
    border-radius: 20px;
    padding: 1rem;
  }
  .content .qr_box .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
    width: 100%;
  }
  .content .qr_box .share .link_icon {
    width: 35px;
    height: 35px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 1rem;
  }
  .content .qr_box .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  .content .qr_box .btns > * {
    margin-right: 0.75rem;
  }
  .content .qr_box .btns .btn_share:hover {
    background-color: rgb(241, 241, 241);
  }
  .content .qr_box .btns .btn_preview:hover {
    background-color: rgb(241, 241, 241);
  }
  .content .qr_box .btns .btn_copy {
    width: 180px;
    height: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .content .qr_box .btns .btn_copy:hover {
    background-color: #6c26a8;
  }
  .content .qr_box .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -7.75rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    text-wrap: nowrap;
    opacity: 0;
  }
  .content .qr_box .qr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3.5rem;
    height: 250px;
    width: 250px;
  }
  .content .qr_box .qr img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 407px) {
  .content .input {
    margin-right: -0.25rem;
    width: 330px;
  }
  .content .others {
    width: 320px;
  }
  .content .text .name {
    margin-left: 3rem;
  }
  .content .text .description {
    font-size: 18px;
    width: 300px;
    margin-left: 3rem;
  }
  .content .qr_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--white-color);
    width: 330px;
    height: 500px;
    border-radius: 20px;
    padding: 1rem;
  }
  .content .qr_box .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
    width: 100%;
  }
  .content .qr_box .share .link_icon {
    width: 35px;
    height: 35px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 1rem;
  }
  .content .qr_box .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
  .content .qr_box .btns > * {
    margin-right: 0.75rem;
  }
  .content .qr_box .btns .btn_share:hover {
    background-color: rgb(241, 241, 241);
  }
  .content .qr_box .btns .btn_preview:hover {
    background-color: rgb(241, 241, 241);
  }
  .content .qr_box .btns .btn_copy {
    width: 180px;
    height: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .content .qr_box .btns .btn_copy:hover {
    background-color: #6c26a8;
  }
  .content .qr_box .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -9rem;
    margin-right: 0.65rem;
    margin-bottom: 1rem;
    text-wrap: nowrap;
    opacity: 0;
  }
  .content .qr_box .qr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3.5rem;
    height: 250px;
    width: 250px;
  }
  .content .qr_box .qr img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}