.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .text .name {
  color: var(--black-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content .text .description {
  color: #808080;
  width: 1000px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.25rem;
}
.content .input {
  margin-top: 2.5rem;
}