@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font: 'Montserrat';
  --black-color: #000;
  --white-color: #FFF;
  --main-color: #7B2CBF;
  --secondary-color: #B3B3B3;
}
