html, body {
    height: 100%;
    margin: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        flex: 1;
    }

    .footer {
        display: flex;
        color: var(--secondary-color);
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        justify-content: space-around;
        border-top: 1px solid #CCC;
        width: 100%;
        margin-top: auto; /* This makes sure the footer is pushed to the bottom */
    }

    .download_link {
        color: var(--secondary-color);
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        &:hover {
            color: #a0a0a0;
        }
    }
}

@media (max-height: 900px) {
    /* Additional styles if needed for specific screen heights */
}
