.layout {
    
    .content {
        flex: 1;
    }

    .footer {
        display: flex;
        position: absolute;
        color: var(--secondary-color);
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        justify-content: space-around;
        border-top: 1px solid #CCC;
        bottom: 0;
        width: 100%; 
        left: 0;
    }

    .download_link {
        color: var(--secondary-color);
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        &:hover {
            
        }
    }
}