.layout .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.layout .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: var(--secondary-color);
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #CCC;
  bottom: 0;
  width: 100%;
  left: 0;
}
.layout .download_link {
  color: var(--secondary-color);
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}