.not_fnd {
  font-family: var(--font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.not_fnd .name {
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.not_fnd .error_code {
  color: var(--main-color);
  font-family: var(--font);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -3rem;
}

.go_back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8rem;
}
.go_back .error_info {
  color: var(--black-color);
  font-family: var(--font);
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.go_back .btn {
  color: var(--white-color);
  font-family: var(--font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 3rem;
}
.go_back .btn:hover {
  background-color: #6c26a8;
}

@media (max-width: 500px) {
  .go_back .error_info {
    font-size: 38px;
  }
  .go_back .btn {
    width: 350px;
  }
}